.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    text-align: center;
}

.modal-body {
    padding: 2rem;
    width: 66%;
    border-radius: 5px;
    background: #fff;
    height: 300px;
}

.modal-body h1 {
    color: cornflowerblue;
    margin-top: 50px;
}

.modalCloseButton {
    background: cornflowerblue;
    color: #fff;
    border: none;
    width: 36%;
    height: 32px;
}


/* iPhone specific styles*/

@media (max-width: 767px) {
    .modal-body h1 {
        margin-top: 0px;
    }
    h1 {
        font-size: x-large;
    }
    .modalCloseButton {
        width: 66%;
        margin-top: 15px;
    }
}