.userImage {
    border-radius: 20px;
}

header {
    background: #000;
    height: 100px;
    text-align: center;
}

header>div>p {
    color: white;
    /* float: right;*/
    margin-top: -1.4%;
}

header>div {
    float: right;
    margin: auto;
    margin-right: 4%;
}

.userImage {
    margin-left: 15px;
    margin-top: -60.5%;
    /* margin: auto; */
}