body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
    padding-top: 1%;
    margin: 0 auto;
    width: 50%;
    min-height: 630px;
}

.rm-button {
    background: cornflowerblue;
    color: #fff;
    border: none;
    min-width: 12%;
    height: 30px;
}

ul {
    padding-left: 0;
}

ul li {
    border-color: cornflowerblue !important;
}

.done {
    text-decoration: line-through;
}

img {
    float: left;
    width: 42px;
    height: 42px;
}

.lnkdin {
    width: 42px;
    height: 42px;
}

.addTodoInput {
    width: 99%;
    height: 30px;
    margin-bottom: 7px;
    margin-top: 10px;
    border-color: cornflowerblue;
}

.addTodoInput:active {
    background: #fff;
    border-color: cornflowerblue;
}

input:active {
    background: cornflowerblue;
}

.addTodoButton {
    width: 100%;
    height: 40px;
    font-size: larger;
    font-weight: 600;
    color: white;
    background: cornflowerblue;
    border: none;
}


/* .addDummyButton {
    width: 50%;
    height: 47px;
    font-size: larger;
    font-weight: 600;
    color: white;
    background: rgb(56, 197, 91);
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 25%;
} */

.loginButton {
    width: 100%;
    height: 40px;
    font-size: larger;
    font-weight: 600;
    color: white;
    background: cornflowerblue;
    border: none;
}

.logoutButton {
    float: left;
    width: 30%;
    height: 30px;
    font-size: larger;
    font-weight: 500;
    color: cornflowerblue;
    background: white;
    border: 1px solid cornflowerblue;
    /* margin-right: 50px; */
}

.removeAllButton {
    float: right;
    width: 30%;
    height: 30px;
    font-size: larger;
    font-weight: 500;
    color: white;
    background: cornflowerblue;
    border: none;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    margin: .5rem;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

h1 {
    margin: 0px;
    color: #fff;
    padding-top: 20px;
}

h1 span {
    color: cornflowerblue;
    font-style: italic;
}

.todo-span {
    max-width: 84%;
}

.titleHeader,
footer {
    background: #000;
    height: 100px;
    text-align: center;
}

footer {
    padding-bottom: 0;
    text-align: center;
    margin-top: 90px;
}

footer a {
    color: #fff;
    display: block;
    padding-top: 40px;
    padding-right: 29%;
    /* width: 0%; */
    float: right;
    text-decoration: none;
}

footer a img {
    margin-top: -10px;
    margin-right: 10px;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* iPhone 6-7-8-10-11 specific configuration*/

@media (max-width: 767px) and (min-height: 569px) {
    .wrapper {
        width: 90%;
        min-height: 67vh;
    }
    .modal {
        padding-top: 6rem !important;
    }
    .rm-button {
        min-width: 22%;
    }
    .addTodoInput {
        width: 97.5%;
    }
    .addTodoButton {
        padding: 2px;
    }
    .titleHeader {
        height: 5rem !important;
    }
    footer a {
        padding-right: 15%;
    }
    footer a img {
        margin-left: 8px;
        margin-top: -12px;
    }
    .removeAllButton {
        width: 35%;
    }
}


/* iPhone 5/SE */

@media (max-height: 568px) {
    .wrapper {
        width: 90%;
        min-height: 62vh;
    }
    .modal {
        padding-top: 6rem !important;
    }
    .titleHeader,
    footer {
        height: 13vh;
    }
    footer {
        margin-top: 12vh;
    }
    .rm {
        width: 30%;
    }
    .addTodoInput {
        width: 97.5%;
    }
    .addTodoButton {
        padding: 2px;
    }
    footer a {
        padding-right: 9%;
        padding-top: 28px;
    }
    footer a img {
        margin-left: 8px;
        margin-top: -12px;
    }
    .logoutButton {
        width: 40%;
    }
    .removeAllButton {
        width: 40%;
    }
}


/* iPad specific configuration*/

@media (max-width: 1023px) and (min-width: 768px) {
    .wrapper {
        width: 80%;
    }
    .rm {
        width: 15%;
    }
    .addTodoInput {
        width: 98.5%;
    }
    .wrapper {
        min-height: 726px;
    }
    footer a {
        padding-right: 24%;
    }
}


/* iPad Pro specific configuration*/

@media (max-width: 1245px) and (min-width: 1024px) {
    .wrapper {
        width: 80%;
    }
    .rm {
        width: 15%;
    }
    .addTodoInput {
        width: 99.2%;
    }
    .wrapper {
        min-height: 1066px;
    }
    footer a {
        padding-right: 27%;
    }
}